body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
    opacity: 0.8;
    position: absolute;
}

div {
    background-color: rgba(128, 128, 128, 0.7);
    position: relative;
    padding: 20px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

li {
    margin-bottom: 15px;
}

li:hover {
    color: #FFD700;
    cursor: pointer;
}